{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2"
  ],
  "plugins": [
    ["cycle-hmr/xstream",
      {
      "include": ["**/app/**"],
      "proxy": {
        "debug": "info"
      }
   }]
  ]
}
