<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>My app is for</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <form id='app-container'>
        </form>
      </div>

    </div>
  </body>
</html>
